<template lang="html">
  <div class="inner-content">
    <div class="bx_title">
      <nuxt-link
        to="/"
        class="btn_back">
        <i class="fas fa-chevron-circle-left" />
      </nuxt-link>
      <h2 class="title is-4">Aviso de privacidad</h2>
    </div>
    <div class="inner-scroll">

      <div class="paddme20">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget libero eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eros libero, posuere lacinia tortor sed, iaculis viverra ante. Sed fermentum nulla quis diam mollis molestie. Ut non accumsan nulla. Aenean tristique dolor aliquam pellentesque suscipit. Cras sit amet libero aliquam ligula imperdiet luctus. Ut pulvinar faucibus ante, ut pretium dolor rhoncus a. Duis quis diam lobortis, dignissim massa ac, faucibus lacus. Quisque vestibulum commodo semper.</p>
        <p>In hendrerit commodo mi tincidunt auctor. Vestibulum ac sapien nec arcu vestibulum posuere quis et urna. Nunc bibendum lectus eros, at viverra risus porttitor vel. Nam pulvinar nunc vel turpis imperdiet, scelerisque congue metus maximus. Integer a vestibulum sapien, non laoreet purus. Suspendisse ac consectetur est. Nulla in nibh interdum justo venenatis maximus eget et magna. Pellentesque nec sem ac metus blandit tristique et et ligula. Phasellus lobortis consequat diam vel scelerisque. Nam lacus dolor, laoreet in dolor in, interdum porta nulla. Mauris eget justo metus. Nunc semper, elit nec molestie rhoncus, arcu lectus mattis neque, vitae tempus nunc eros a purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed tincidunt placerat iaculis. Sed pellentesque aliquet sem. Morbi pharetra tempor ipsum non dictum.</p>
        <p>Phasellus euismod feugiat tortor, a viverra urna tempor at. Quisque sagittis ipsum eu magna consectetur accumsan. Maecenas tempor arcu vel gravida malesuada. Nunc vestibulum vel tortor iaculis dictum. Pellentesque luctus ornare augue eu maximus. Sed sagittis condimentum pretium. Phasellus eu dolor nec eros mollis gravida.</p>
        <p>Nam scelerisque, orci quis eleifend hendrerit, urna ligula facilisis nulla, ut porta erat sem ac mi. Quisque feugiat, metus et imperdiet feugiat, augue nisi laoreet metus, id dictum est erat nec dolor. Aenean a mi lobortis, rhoncus turpis nec, condimentum lacus. Aenean sapien leo, eleifend et mi ornare, porttitor placerat enim. Nunc viverra et nibh non convallis. Quisque convallis mi massa, nec elementum nibh consequat et. Nullam feugiat, libero ac dictum viverra, felis turpis luctus massa, a vehicula enim metus ac risus. Sed risus metus, ultricies vitae neque non, volutpat pretium est. Suspendisse eros elit, suscipit nec porttitor eu, commodo a risus. Aliquam erat volutpat. Etiam tempor convallis eros, sed ornare lectus tincidunt quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempus nibh at suscipit rutrum.</p>
        <p>Morbi ipsum ligula, tincidunt nec varius id, accumsan eu sem. Duis sed purus sit amet eros aliquam lacinia. Suspendisse sed ornare diam. Nullam pharetra vestibulum risus, eu sodales nisl dictum et. Etiam tempor, eros eget tristique placerat, sem justo vulputate mauris, vel rutrum metus dolor ut urna. Pellentesque gravida tempus ex ut varius. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
      </div>
    </div>
  </div>
</template>

<script>


export default {
  head() {
    return {
      title: 'Aviso de privacidad',
    }
  },

}
</script>

<style lang="css">
</style>
