<template lang="html">
  <div class="inner-content">
    <div class="bx_title">
      <nuxt-link
        to="/"
        class="btn_back">
        <i class="fas fa-chevron-circle-left" />
      </nuxt-link>
      <h2 class="title is-4">Cita de servicios</h2>
    </div>
    <div class="inner-scroll">
      <div class="paddme20">
        <p class="lefty">Primer paso, selecciona asesor..</p>
      </div>
      <div class="bx_form">
        <h5 class="title is-6">Información de contacto</h5>
        <span>Deja tus datos y te enviaremos la información que necesitas</span><br><br>
        <generic-form/>
      </div>
    </div>
  </div>
</template>

<script>
import GenericForm from '~/components/GenericForm'

export default {
  head() {
    return {
      title: 'Refacciones',
    }
  },
  components: {
    GenericForm,
  },
}
</script>

<style lang="css">
</style>
