<template lang="html">
  <div class="inner-content">
    <div class="bx_title">
      <nuxt-link
        to="/"
        class="btn_back">
        <i class="fas fa-chevron-circle-left" />
      </nuxt-link>
      <h2 class="title is-4">Autos Seminuevos</h2>
    </div>
    <div class="inner-scroll">
      <iframe
        src="http://www.infinitipedregalinterlomas.com/infiniti/"
        frameborder="0" />
    </div>

  </div>
</template>

<script>
export default {
}
</script>

<style lang="sass" scoped>
iframe
  width: 100%
  height: 100%
  min-height: 80vh
</style>
